.product-card-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    padding: 10px;
    position: relative;
}

.product-card-container:not(.removeHover):hover {
    transform: scale(1.2);
    z-index: 10;
}

.removeHover {
    box-shadow: none;
}

.expanded-card-container {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    transition: all 0.8s ease-in-out;
    background-color: white;
    z-index: 100;
}

.expandedCard {
    height: 60vh !important;
    width: 50vw !important;
    transition: all 1.2s ease-in-out;
    position: absolute;
    border-radius: 10px;
    padding: 10px;
    z-index: 101;
    background-color: white;
    transform-origin: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
    transition: all 1.2s ease-in-out;
    /* Ensure it's on top */
}

.card {
    width: 200px;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
}

.image-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.expanded-image-container {
    width: 350px;
    height: 250px;
}

.image-container::-webkit-scrollbar {
    height: 8px;
    /* Scrollbar height */
}

.card-image {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.controls-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.card-title {
    padding: 5px;
    text-align: center;
    background-color: #333;
    color: white;
    height: 30px;
    font-size: 14px;
    margin: 5px 0px;
    border-radius: 10px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-controls button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 5px;
}

.quantity-controls span {
    font-size: 18px;
    width: 30px;
    text-align: center;
}

.quantity-controls button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.expand-btn {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.expand-btn-container {
    width: 100%;
    margin-top: 2px;
    display: flex;
    flex-direction: row-reverse;
}

.incSmallCardSize {
    height: 60%;
    width: 100%;
}

.card-description {
    width: 30%;
    text-align: left;
    padding: 20px 0px;
}

.img-desc-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.package-desc {
    display: flex;
    flex-direction: row;
}

.package {
    border-bottom: 1px solid black;
    padding: 10px;
}

.package-add-to-cart {
    display: flex;
    flex-direction: column;
}


.gallery {
    width: 100%;
    margin: 0;
    display: flex;
    padding: 30px;
}

.item {
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 10px;
    width: 220px;
    height: 220px;
}

.modal {
    flex: 1 1 auto;
    z-index: 9999;
    background-color: white;
    width: 50vw;
    height: 90vh;
    position: absolute;
    top: 50;
    left: 50;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
}

.carousel-container {
    border-radius: 10px;
    margin: 10px 0px;
    overflow: hidden;
    position: relative;
}

.tile-image {
    width: 100%;
    border-radius: 10px;
}

.expand-btn-container {
    float: right;
}

.tile-title {
    display: block;
    font-size: 15px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.modalContainer {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 0;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    .gallery {
        flex-direction: column;
    }
    .modal {
        width: 90vw;
        overflow-y: scroll;
    }
}