.shopping-cart {
    padding: 20px;
    margin: auto;
    text-align: center;
}

.products {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 30%;
}

.cart-items {
    overflow-y: scroll;
    height: 250px;
}

.cart {
    margin-top: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.removeBtn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}